@use '../utils/variables' as *;
@use '../base/topography' as *;
@use '../components/learn-more-button' as *;

.article-wrapper {
  display: flex;
  flex-direction: column;
}

.article {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;

  align-items: center;

  &__content {
    display: flex;
    flex-direction: column;
    gap: $gap-medium;
    justify-content: space-around;

    grid-area: content;

    max-width: 60%;

    margin-block: 1rem;

    margin-inline: auto;
  }

  &__heading {
    @include font-heading2-bold;
  }

  &__description {
    @include font-article-description-mid;
  }

  &__picture {
    grid-area: picture;
    width: 100%;
  }

  &__image {
    width: 100%;
  }

  &__button {
    @include learn-more-button;

    &--border-yellow {
      border-bottom: 0.5rem solid $clr-primary-yellow;
    }
    &--border-red {
      border-bottom: 0.5rem solid $clr-primary-soft-red;
    }
  }
}

.article:nth-of-type(1) {
  grid-template-areas: 'content picture';
}

.article:nth-of-type(2) {
  grid-template-areas: 'picture content';
}

@media screen and (max-width: 810px) {
  .article {
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr;

    &__content {
      max-width: none;

      margin: 1rem;

      align-items: center;

      text-align: center;
    }
  }

  .article:nth-of-type(1) {
    grid-template-areas: 'content' 'picture';
  }

  .article:nth-of-type(2) {
    grid-template-areas: 'content' 'picture';
  }
}
