@use '../utils/variables' as *;

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: $gap-midium-high;

  padding-block: 4.5rem;

  width: 100%;

  background-color: $clr-neutral-dark-moderate-cyan-footer-background;

  &__logo {
    scale: 1.4;
    path {
      fill: $clr-primary-dark-moderate-cyan-footer;
    }
  }
}

.social {
  display: flex;
  gap: $gap-normal;

  margin-top: 4rem;
}
