@use '../utils/variables' as *;
@use '../components/navigation-item' as *;

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: $gap-midium-high;

  padding-block: 4.5rem;

  width: 100%;

  background-color: $clr-neutral-dark-moderate-cyan-footer-background;

  &__logo {
    scale: 1.4;
    path {
      fill: $clr-primary-dark-moderate-cyan-footer;
    }
  }
}

.footer-nav {
  &__list {
    display: flex;
    gap: $gap-midium-high;
  }
  &__item {
    @include navigation-item;

    &__link--color {
      color: $clr-primary-dark-desaturated-cyan-graphic-design-text;
      opacity: 0.5;
    }
  }
}

.social {
  display: flex;
  gap: $gap-normal;

  margin-top: 4rem;
}
