@use '../utils/variables' as *;
@use '../components/navigation-item' as *;

.navigation {
  &__menu {
    display: none;
    cursor: pointer;
  }

  &__list {
    display: flex;
    gap: $gap-midium-high;
  }

  &__item {
    @include navigation-item;
  }
}

@media screen and (max-width: 810px) {
  .navigation {
    &__menu {
      display: block;
    }

    &__mobile {
      position: absolute;
      top: 5rem;
      right: 3rem;
      left: 3rem;
    }

    &__mobile--hide {
      display: none;
    }

    &__desktop {
      display: none;
    }

    &__list--mobile {
      padding: 4em;

      flex-direction: column;
      align-items: center;

      background-color: $clr-neutral-white;

      clip-path: polygon(90% 9%, 100% 0, 100% 100%, 0 100%, 0 9%);
    }

    &__item {
      &__link {
        color: $clr-neutral-dark-grayish-blue;

        &--contact {
          color: $clr-neutral-very-dark-desaturated-blue;
          background-color: $clr-primary-button;

          &:focus,
          &:hover {
            opacity: 0.5;
          }
        }
      }
    }
  }
}
